@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.navbar-toggler {
    border: none;
  }
  .menu-border {
    border-top: 0.5px solid rgb(8, 33, 66);
    border-bottom: 0.5px solid rgb(8, 33, 66);
  }
  .headerPadding {
    padding: 0.5rem 1rem !important;
  }
  .navbar {
    position: fixed;
    width: 100%;
    padding: 0;
    font-family: "Oswald", sans-serif;
  }
  .navbar .brand {
    padding: 1em;
  }
  .navbar-toggler:focus {
    outline: none;
  }
  .chevrons {
    width: 41px;
    height: 40px;
    text-align: center;
    right: 0;
    border-left: 0.5px solid rgb(8, 33, 66);
    background-color: lightgray;
    position: relative;
    border-bottom: 0.5px solid rgb(8, 33, 66);

  }
   .chevrons svg {
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .navbar {
    background-color: white !important;
    z-index: 1000;
  }
  .nav-link {
    color: rgb(8, 33, 66) !important;
  }
  .nav-link{
     max-height: 40px;
     white-space: nowrap;
  }
  .dropdown-toggle::after {
    content: none;
  }
  .dropdown-item:hover {
    color: rgb(8, 33, 66);
  }
  .dropdown-item.active,
  .dropdown-item:active {
    background: lightgray;
    color: inherit;
  }
  .dropdown-item .active,
  .dropdown-item:active {
    background-color: white;
    color: unset;
  }
@media(min-width:766px){
    .navbar{
        padding-right: 1em;
    }
}


@media (max-width: 766px) {
 
  
    .nav-link {
        padding: 0.5rem 1rem !important;
        border-bottom: 0.5px solid rgb(8, 33, 66);
      }

  .navbar-nav:first-child {
    border-top: 0.5px solid rgb(8, 33, 66);
  }
  .dropdown-item {
    padding: 0.5rem 2rem !important;
    border-bottom: 0.5px solid rgb(8, 33, 66);
    background: rgb(246, 246, 246);
  }
 

  .dropdown-menu {
    border: none;
    padding: 0;
  }
 
  
  .dropdown-toggle::after {
    content: none;
  }
  .customMenuItem {
    padding-left: 0;
    padding-right: 0;
    max-height: 40px;
    width: 100%;
  }
  .customMenuItem .nav-link {
    width: calc(100vw - 41px);
  }
 
  .dropdown-toggle .nav-item {
    border-bottom: 1px solid rgb(8, 33, 66);
  }
 
}
